<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xác minh email thất bại</title>
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/office/80/null/error.png">
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        html,
        body {
            background-color: #000;
        }

        .main {
            display: flex;
            margin-top: 20px;
            margin-left: 20px;
            flex-direction: column;
        }

        h3 {
            color: #ca8076;
        }

        p {
            margin-top: 8px;
            display: block;
            color: #fff;
        }
    </style>
</head>

<body>
    <div class="main">
        <h3>Xác minh email thất bại!</h3>
        <p>Token không hợp lệ, vui lòng thử lại.</p>
    </div>
</body>

</html>