<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xác minh email thành công</title>
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/color/96/null/checked--v1.png">
    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
        }

        html,
        body {
            background-color: #000;
        }

        .main {
            display: flex;
            margin-top: 20px;
            margin-left: 20px;
            flex-direction: column;
        }

        h3 {
            color: #31b367;
        }

        p {
            margin-top: 8px;
            display: block;
            color: #fff;
        }
    </style>
</head>

<body>
    <div class="main">
        <h3>Xác minh email thành công!</h3>
        <p>Địa chỉ email của bạn đã được xác minh thành công, bạn có thể đóng cửa sổ này ngay bây giờ.</p>
    </div>
</body>

</html>